<div class="content-container organization-profile">
    <section class="section-hero">
        <div class="container-fluid">
            <div class="row align-items-stretch justify-content-between">
                <div class="col-6 col-xl-4">
                    <div class="card text-center">
                        <div class="card-body border-dark">
                            <div class="d-flex flex-column align-items-center justify-content-between h-100">
                                <div class="avatar-lg">
                                    <img class="rounded-circle" src="../../../assets/images/organization-private/logo.png">
                                </div>                                
                            
                                <h1>Tubik Studio</h1>
                                    
                                <div class="d-flex flex-column flex-xl-row align-items-start align-items-xl-center justify-content-start w-100">
                                    <span class="bg-asterisk">Casablanca</span>
                                    <span class="bg-asterisk">Morocco</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="card text-center">
                        <div class="card-body bg-dark">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <div class="d-block">
                                    <h1>Edit my profile</h1>
    
                                    <div class="mt-4">
                                        <a class="btn btn-rounded" href="#">Edit</a>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-xl-4">
                    <h2>“ Do great work in a strong culture and live your life! ”</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section-about">
        <div class="container-fluid">
            <h1 class="section-title">About my organization</h1>
            
            <div class="row align-items-stretch justify-content-between">
                <div class="col-6 col-xl">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="mb-2 mb-xl-3" src="../../../assets/images/union.png">
                            <h4 class="text-uppercase mb-2 mb-xl-4">Sector</h4>
                            <p class="text-red">Design, Development, Copywriter</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="mb-2 mb-xl-3" src="../../../assets/images/union.png">
                            <h4 class="text-uppercase mb-2 mb-xl-4">Type</h4>
                            <p class="text-red">Private company</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="mb-2 mb-xl-3" src="../../../assets/images/union.png">
                            <h4 class="text-uppercase mb-2 mb-xl-4">size</h4>
                            <p class="text-red">< 50</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="mb-2 mb-xl-3" src="../../../assets/images/union.png">
                            <h4 class="text-uppercase mb-2 mb-xl-4">Founded in</h4>
                            <p class="text-red">2005</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl">
                    <div class="card text-center">
                        <div class="card-body">
                            <img class="mb-2 mb-xl-3" src="../../../assets/images/union.png">
                            <h4 class="text-uppercase mb-2 mb-xl-4">WEBSITE</h4>
                            <p class="text-red">www.tubik.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-presentation">
        <div class="container-fluid">
            <div class="row align-items-top justify-content-between">
                <div class="col-xl-6">
                    <h1 class="section-title">Presentation</h1>
                    
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
                        texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
                        small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                        paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
                        has no control about the blind texts it is an almost unorthographic life One day however a small line of blind
                        text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and
                        devious Semikoli, but the Little Blind Text didn't listen. She packed her seven versalia, put her initial into
                        the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last
                        view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her
                        own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been
                        rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little
                        Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her
                        and so it didn't take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole
                        and dragged her into their agency, where they abused her for their projects again and again.</p>
                    <p>And if she hasn't been rewritten, then they are still using her. Far far away, behind the word mountains, far
                        from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                        right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and
                        supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences
                        fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost
                        unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for
                        the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas,
                        wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven
                        versalia, put her initial i</p>
                
                    <h4 class="my-4"><strong>Specializations :</strong></h4>
                
                    <p>Securites Services, Investment banking, Capital markets, Private banking, Commercial Retail.</p>
                </div>
                
                <div class="col-xl-4">
                    <div id="presentationCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-touch="true">
                        <div class="carousel-indicators justify-content-center">
                            <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>

                        <div class="card text-center">
                            <div class="card-body">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="presentation-img d-inline-block position-relative">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <a href="#">Play</a>
                                            </div>
                        
                                            <img class="img-fluid"
                                                src="../../../assets/images/organization-private/organization-intro.png">
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="presentation-img d-inline-block position-relative">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <a href="#">Play</a>
                                            </div>
                        
                                            <img class="img-fluid"
                                                src="../../../assets/images/organization-private/organization-intro.png">
                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="presentation-img d-inline-block position-relative">
                                            <div class="overlay d-flex align-items-center justify-content-center">
                                                <a href="#">Play</a>
                                            </div>
                        
                                            <img class="img-fluid"
                                                src="../../../assets/images/organization-private/organization-intro.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-block text-center pt-4">
                            <a class="btn btn-rounded" href="#">Next Video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-news">
        <div class="container-fluid">
            <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-touch="true">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-4">
                        <h1 class="section-title">My News</h1>
                    </div>
                    <div class="col-xl-4">
                        <div class="carousel-indicators align-items-center justify-content-xl-center">
                            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                    </div>
                </div>    

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-4">
                                <div class="d-flex flex-column align-items-start justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4 py-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>
            
                                    <div class="mb-4">
                                        <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                        <h5 class="mb-0"><strong>Location: <span class="text-red">Dakar</span></strong></h5>
                                    </div>
            
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/organization-private/news.png">
                        
                                        <div class="shadow my-xl-4"></div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-6 col-xl-4">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="news-text d-block text-center border-dark h-100 ">
                                        <img src="../../../assets/images/union.png">
                                        
                                        <h4><strong>Today we have open a new Subsidiary in Dakar!</strong></h4>
                                        
                                        <p>The CSS agro-industrial complex was created in 1970. It consists of: a cane crushing entity; a refinery; a distillery for the production of ethanol; and an energy production unit comprising a bagasse boiler producing 150 tons/hour of steam and a 25 megawatt turbo-alternator which has made it possible to obtain from the clean development mechanism (CDM) in Bonn, 40,000 tons of carbon credits.</p>
                                        <p>CSS is one of the most successful sweets in the world. It owes this to its advanced technology, its high quality human resources and an adequate and peaceful working environment. The company offers career prospects for almost all trades. It is autonomous and hardly needs external services to operate, hence the interest in diversified profiles allowing it to be aligned with current and future technologies. There is a real need for skills, in particular engineers and technicians to stay the course.</p>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="carousel-item">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-4">
                                <div class="d-flex flex-column align-items-start justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4 py-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>
            
                                    <div class="mb-4">
                                        <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                        <h5 class="mb-0"><strong>Location: <span class="text-red">Dakar</span></strong></h5>
                                    </div>
            
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/organization-private/news.png">
                        
                                        <div class="shadow my-xl-4"></div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-6 col-xl-4">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="news-text d-block text-center border-dark h-100 ">
                                        <img src="../../../assets/images/union.png">
                                        
                                        <h4><strong>Today we have open a new Subsidiary in Dakar!</strong></h4>
                                        
                                        <p>The CSS agro-industrial complex was created in 1970. It consists of: a cane crushing entity; a refinery; a distillery for the production of ethanol; and an energy production unit comprising a bagasse boiler producing 150 tons/hour of steam and a 25 megawatt turbo-alternator which has made it possible to obtain from the clean development mechanism (CDM) in Bonn, 40,000 tons of carbon credits.</p>
                                        <p>CSS is one of the most successful sweets in the world. It owes this to its advanced technology, its high quality human resources and an adequate and peaceful working environment. The company offers career prospects for almost all trades. It is autonomous and hardly needs external services to operate, hence the interest in diversified profiles allowing it to be aligned with current and future technologies. There is a real need for skills, in particular engineers and technicians to stay the course.</p>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="carousel-item">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-4">
                                <div class="d-flex flex-column align-items-start justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4 py-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>
            
                                    <div class="mb-4">
                                        <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                        <h5 class="mb-0"><strong>Location: <span class="text-red">Dakar</span></strong></h5>
                                    </div>
            
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/organization-private/news.png">
                        
                                        <div class="shadow my-xl-4"></div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-6 col-xl-4">
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <div class="news-text d-block text-center border-dark h-100 ">
                                        <img src="../../../assets/images/union.png">
                                        
                                        <h4><strong>Today we have open a new Subsidiary in Dakar!</strong></h4>
                                        
                                        <p>The CSS agro-industrial complex was created in 1970. It consists of: a cane crushing entity; a refinery; a distillery for the production of ethanol; and an energy production unit comprising a bagasse boiler producing 150 tons/hour of steam and a 25 megawatt turbo-alternator which has made it possible to obtain from the clean development mechanism (CDM) in Bonn, 40,000 tons of carbon credits.</p>
                                        <p>CSS is one of the most successful sweets in the world. It owes this to its advanced technology, its high quality human resources and an adequate and peaceful working environment. The company offers career prospects for almost all trades. It is autonomous and hardly needs external services to operate, hence the interest in diversified profiles allowing it to be aligned with current and future technologies. There is a real need for skills, in particular engineers and technicians to stay the course.</p>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-job-offers">
        <div class="container-fluid">
            <h1 class="section-title">My Job Offers</h1>
            
            <div class="row">
                <div class="col-6 col-xl-4">
                    <div class="card card-job-offer text-center">
                        <div class="card-body border-black">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="d-block">
                                    <h3>Add job offer</h3>                                    
                                </div>
                        
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <button class="btn btn-md btn-circle ico-plus"></button>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="card card-job-offer text-center">
                        <div class="card-body border-black">
                            <div class="d-flex flex-column align-items-stretch justify-content-between pb-4 h-100">
                                <div class="d-block">
                                    <h3>Commercial Offer Manager</h3>                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><strong>Job Type</strong></h5>
                                        <h5 class="text-red">Full-time</h5>
                                    </div>
                                    <div class="col">
                                        <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-none d-lg-block">
                                        <h5><strong>Status</strong></h5>
                                        <h5 class="text-red">Published</h5>
                                    </div>
                                    <div class="col">
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xl-4">
                    <div class="card card-job-offer text-center">
                        <div class="card-body border-black">
                            <div class="d-flex flex-column align-items-stretch justify-content-between pb-4 h-100">
                                <div class="d-block">
                                    <h3>Web Developer</h3>                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><strong>Job Type</strong></h5>
                                        <h5 class="text-red">Full-time</h5>
                                    </div>
                                    <div class="col">
                                        <a href="#">View</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5><strong>Status</strong></h5>
                                        <h5 class="text-red">Published</h5>
                                    </div>
                                    <div class="col">
                                        <a href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="events" class="section-events">
        <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-touch="true">
            <div class="container-fluid">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-3">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>

                                    <h1 class="section-title">My events</h1>
                                    
                                    <p class="mt-4 mb-0 mb-xl-4">Take out your address book! Keep up to date with all upcoming events around business in Africa organized
                                        in Africa or abroad.</p>
                                    
                                    <div class="d-none d-xl-block pt-4">
                                        <a class="btn btn-rounded" href="#">Next Page</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-6 col-xl-8">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-between h-100">
                                            <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/home/event.png">
                            
                                            <div class="shadow my-xl-4"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                            <div class="d-block mt-4 mt-xl-0 pb-xl-4">
                                                <h5 class="mb-0"><strong>The Event: <span class="text-red">The Nancy party's</span></strong>
                                                </h5>
                                                <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                                <h5 class="mb-xl-4"><strong>Location: <span class="text-red">Senegal</span></strong></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-xl-none">
                            <div class="col-xl-12">
                                <div class="text-center mt-4 pt-4">
                                    <a class="btn btn-rounded" href="#">Next Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-3">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>

                                    <h1 class="section-title">My events</h1>
                                    
                                    <p class="mt-4 mb-0 mb-xl-4">Take out your address book! Keep up to date with all upcoming events around business in Africa organized
                                        in Africa or abroad.</p>
                                    
                                    <div class="d-none d-xl-block pt-4">
                                        <a class="btn btn-rounded" href="#">Next Page</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-6 col-xl-8">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-between h-100">
                                            <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/home/event.png">
                            
                                            <div class="shadow my-xl-4"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                            <div class="d-block mt-4 mt-xl-0 pb-xl-4">
                                                <h5 class="mb-0"><strong>The Event: <span class="text-red">The Nancy party's</span></strong>
                                                </h5>
                                                <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                                <h5 class="mb-xl-4"><strong>Location: <span class="text-red">Senegal</span></strong></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-xl-none">
                            <div class="col-xl-12">
                                <div class="text-center mt-4 pt-4">
                                    <a class="btn btn-rounded" href="#">Next Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row align-items-stretch justify-content-between">
                            <div class="col-6 col-xl-3">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div class="d-flex align-items-center justify-content-start mb-4">
                                        <button class="btn btn-sm btn-circle ico-plus"></button>
                                        <h4 class="ms-2 mb-0">Create news</h4>
                                    </div>

                                    <h1 class="section-title">My events</h1>
                                    
                                    <p class="mt-4 mb-0 mb-xl-4">Take out your address book! Keep up to date with all upcoming events around business in Africa organized
                                        in Africa or abroad.</p>
                                    
                                    <div class="d-none d-xl-block pt-4">
                                        <a class="btn btn-rounded" href="#">Next Page</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-6 col-xl-8">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-between h-100">
                                            <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="../../../assets/images/home/event.png">
                            
                                            <div class="shadow my-xl-4"></div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                            <div class="d-block mt-4 mt-xl-0 pb-xl-4">
                                                <h5 class="mb-0"><strong>The Event: <span class="text-red">The Nancy party's</span></strong>
                                                </h5>
                                                <h5 class="mb-0"><strong>Date: <span class="text-red">10/07/22</span></strong></h5>
                                                <h5 class="mb-xl-4"><strong>Location: <span class="text-red">Senegal</span></strong></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-xl-none">
                            <div class="col-xl-12">
                                <div class="text-center mt-4 pt-4">
                                    <a class="btn btn-rounded" href="#">Next Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="section-contact-details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="d-flex justify-content-center">
                        <div class="card rounded-top text-center">
                            <div class="card-body bg-dark">
                                <img src="../../../assets/images/union_white.png">
                                
                                <h1>My contact details</h1>

                                <p>Email: tubikstudio@.com</p>
                                <p>Phone: +37379460222</p>
                                
                                <div class="d-flex justify-content-center mt-5">
                                    <a class="btn btn-rounded" href="#">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
