<div class="mt-4" id="forgot-password">
    <div class="card rounded-top text-center">
      <div class="card-body bordered">
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
          <div class="bordered-form">
            <img src="../../../assets/images/union.png">

            <ng-container >
              <h3 class="pt-5">Reset Password</h3>
              <div class="w-100 mb-5">
                <div class="input-group mb-1 d-flex flex-nowrap">
                  <input formControlName="password" placeholder="Enter your preferred password" [type]="viewPass ? 'text' : 'password'" name="pass" class=""/>
                 
                  <span class="input-group-text bg-transparent border-0 show-p" id="basic-addon2" (click)="viewPass = !viewPass">{{viewPass ? 'Hide' : 'Show'}}</span>
                </div>
                <div class="md-errors-spacer" *ngIf="submitted && resetPassForm.get('password').invalid">
                  <div class="required-f" *ngIf="resetPassForm.get('password').hasError('required')">
                    Password is required
                  </div>
                  <div class="required-f" *ngIf="resetPassForm.get('password').hasError('pattern')">
                    Password must contain atleast a number, uppercase, lowercase.
                  </div>
                </div>
              </div>
    
              <div class="w-100 mb-3">
                <div class="input-group mb-1 d-flex flex-nowrap">
                  <input formControlName="confirmPassword" placeholder=" Re-enter your preferred password " [type]="viewCPass ? 'text' : 'password'" name="cp" class="" />
                 
                  <span class="input-group-text bg-transparent border-0 show-p" id="basic-addon2" (click)="viewCPass = !viewCPass">{{viewCPass ? 'Hide' : 'Show'}}</span>
                </div>
                <div class="md-errors-spacer" *ngIf="submitted && resetPassForm.get('confirmPassword').invalid">
                  <div  class="required-f"*ngIf="resetPassForm.get('confirmPassword').hasError('required')">
                    Required
                  </div>
                  <div class="required-f" *ngIf="resetPassForm.get('confirmPassword').hasError('confirm')">{{'Password is inconsistent!' }}</div>
                </div>
              </div>
                
            </ng-container>
           
            <ng-container >
              <h3 class="text-start">{{resMessage?.message}}</h3>
            </ng-container>

            <div class="d-flex flex-column justify-content-center mt-5">    
                <button class="btn btn-rounded">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Get the link
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
