#loginForm {
  .card {
    .card-body {
      .bordered-form {
        padding: 38px 15% 0;
        border: 1px solid #E0E0E0;
        border-radius: 250px 250px 0px 0px;
        img {
          margin-bottom: 10px;
        }
        input {
          width: 100%;
          border: 0;
          border-bottom: 2px solid #E2E2E2;
          height: 42px;
          background: transparent;
        }
        h3 {
          font-family: 'Jost';
          font-style: normal;
          font-weight: 500;
          font-size: 38px;
          line-height: 55px;
          color: #1F1F1F;
          margin-bottom: 57px;
        }
        .form-group {
          margin-bottom: 48px;
        }
        .form-group.fp {
          p.fpass {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
            color: #1F1F1F;
            text-align: left;
            cursor: pointer;
            margin: 0;
          }
        }
      }
    }
    button.btn.btn-rounded {
      margin-top: 44px;
      margin-bottom: 0;
      font-family: 'BIZ UDPGothic';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 151.2%;
      color: #1F1F1F;
      height: 59px;
    }
  }
}
.acc-err {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #ACB5BD;
}
