<div class="content-container organization-profile" *ngIf="companyService.companyProfile">
  <section class="section-hero">
    <div class="container-fluid">
      <div class="row align-items-stretch justify-content-between">
        <div class="col-6 col-xl-4">
          <div class="card text-center">
            <div class="card-body border-dark">
              <div class="d-flex flex-column align-items-center justify-content-between h-100">
                <div class="avatar-lg">
                  <img class="rounded-circle" [src]="'http://api.panda-networking.com/v1/api/media/' + companyService.companyProfile.profile.logo">
                </div>

                <h1 class="title-left">{{companyService.companyProfile.profile.name}}</h1>

                <div
                  class="d-flex flex-column flex-xl-row align-items-start align-items-xl-center justify-content-start w-100">
                  <span class="bg-asterisk">{{companyService.companyProfile.contact.headoffice}}</span>
                  <!-- <span class="bg-asterisk">Morocco</span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4">
          <div class="card text-center c-right">
            <div class="card-body bg-dark">
              <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-block">
                  <h1 class="title-r">Edit my profile</h1>

                  <button class="btn btn-rounded" [routerLink]="'/organization-profile'">
                    Edit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-xl-4">
          <h2>“ {{companyService.companyProfile.profile.quote}} ”</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section-about">
    <div class="container-fluid">
      <h1 class="section-title">About my organization</h1>

      <div class="row align-items-stretch justify-content-between amo">
        <div class="col-6 col-xl">
          <div class="card text-center">
            <div class="card-body">
              <img class="amo-img" src="./../../../assets/images/union.png">
              <h4 class="text-uppercase amo-t">Sector</h4>
              <p class="text-red">{{companyService.companyProfile.profile.sector}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl">
          <div class="card text-center">
            <div class="card-body">
              <img class="amo-img" src="./../../../assets/images/union.png">
              <h4 class="text-uppercase amo-t">Type</h4>
              <p class="text-red">{{companyService.companyProfile.profile.companyType}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl">
          <div class="card text-center">
            <div class="card-body">
              <img class="amo-img" src="./../../../assets/images/union.png">
              <h4 class="text-uppercase amo-t">size</h4>
              <p class="text-red">
                < {{companyService.companyProfile.profile.companySize}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl">
          <div class="card text-center">
            <div class="card-body">
              <img class="amo-img" src="./../../../assets/images/union.png">
              <h4 class="text-uppercase amo-t">Founded in</h4>
              <p class="text-red">{{companyService.companyProfile.profile.foundedIn}}</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl">
          <div class="card text-center">
            <div class="card-body">
              <img class="amo-img" src="./../../../assets/images/union.png">
              <h4 class="text-uppercase amo-t">WEBSITE</h4>
              <p class="text-red">{{companyService.companyProfile.contact.website}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-presentation">
    <div class="container-fluid">
      <div class="row align-items-top justify-content-between">
        <div class="col-xl-6">
          <h1 class="section-title">Organization Profile</h1>

          <p>{{companyService.companyProfile.profile.presentation}}</p>

          <h4 class="">Specializations :</h4>

          <p>{{companyService.companyProfile.profile.specialization}}</p>
        </div>

        <div class="col-xl-4">
          <div id="presentationCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true"
            data-bs-touch="true">
            <div class="carousel-indicators justify-content-center">
              <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#presentationCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>

            <div class="card text-center">
              <div class="card-body">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="presentation-img d-inline-block position-relative">
                      <div class="overlay d-flex align-items-center justify-content-center">
                        <a href="#">Play</a>
                      </div>

                      <img class="img-fluid" src="./../../../assets/images/organization-private/organization-intro.png">
                    </div>
                  </div>
                  <div class="carousel-item ">
                    <div class="presentation-img d-inline-block position-relative">
                      <div class="overlay d-flex align-items-center justify-content-center">
                        <a href="#">Play</a>
                      </div>

                      <img class="img-fluid" src="./../../../assets/images/organization-private/organization-intro-1.png">
                    </div>
                  </div>
                  <div class="carousel-item ">
                    <div class="presentation-img d-inline-block position-relative">
                      <div class="overlay d-flex align-items-center justify-content-center">
                        <a href="#">Play</a>
                      </div>

                      <img class="img-fluid" src="./../../../assets/images/organization-private/organization-intro-2.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-center text-center btn-cnt">
              <a class="btn btn-rounded" href="#">Next Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-news">
    <div class="container-fluid">
      <div class="row">
        <h1 class="section-title">My News</h1>
        <div class="col-12 news-feed d-flex">
          <div class="col-4 news-left">
            <div class="d-flex align-items-center justify-content-start add-new">
              <button class="btn btn-sm btn-circle ico-plus" (click)="openNews = true"></button>
              <h4 class="crt-n">Here’s what new in my organization</h4>
            </div>
            <div class="dl-sec">
              <h5><strong>Date: <span class="text-red">{{myNews[selectedNews].date}}</span></strong></h5>
              <h5><strong>Location: <span class="text-red">{{myNews[selectedNews].location}}</span></strong></h5>
            </div>

            <div class="d-flex flex-column align-items-center justify-content-center">
              <img class="img-fluid rounded-circle mb-2 mb-xl-4" src="./../../../assets/images/organization-private/news.png">

              <div class="shadow"></div>
            </div>
          </div>

          <div class="col-4 news-right">
            <div class="news-indicators">
              <p class="indicator" *ngFor="let news of myNews; let n=index" (click)="selectedNews=n" [ngClass]="{'active': selectedNews===n}"></p>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="news-text d-block text-center border-dark h-100 ">
                <img src="./../../../assets/images/union.png">

                <h4><strong>{{myNews[selectedNews].newsTitle}}</strong></h4>

                <p>{{myNews[selectedNews].description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-job-offers">
    <div class="container-fluid">
      <h1 class="section-title">My Job Offers</h1>

      <div class="row">
        <div class="col-6 col-xl-4">
          <div class="card card-job-offer text-center">
            <div class="card-body border-black">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="d-block">
                  <h3>Add job offer</h3>
                </div>

                <div class="d-flex align-items-center justify-content-center h-100">
                  <button (click)="openJob=true" class="btn btn-md btn-circle ico-plus"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4" *ngFor="let job of myJobs; let i = index">
          <div class="card card-job-offer text-center">
            <div class="card-body border-black">
              <div class="d-flex flex-column align-items-stretch justify-content-between pb-4 h-100">
                <div class="d-block">
                  <h3>{{job.title}}</h3>
                </div>
                <div class="row j-rows">
                  <div class="col">
                    <h5><strong>Job Type</strong></h5>
                    <h5 class="text-red">{{job.type}}</h5>
                  </div>
                  <div class="col">
                    <p class="act" (click)="jobAction(job,'view')">View</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-none d-lg-block">
                    <h5><strong>Status</strong></h5>
                    <h5 class="text-red">{{job.status ? 'Published': 'Draft'}}</h5>
                  </div>
                  <div class="col">
                    <p class="act" (click)="jobAction(job,'delete')">Delete</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="events" class="section-events">
    <div class="events-slide">
      <div class="container-fluid">
        <div class="events-indicators">
          <p class="indicator" *ngFor="let news of myEvents; let n=index" (click)="selectedEvent=n" [ngClass]="{'active': selectedEvent===n}"></p>
        </div>
      </div>

      <div class="events-inner">
        <div class="event-item">
          <div class="container-fluid">
            <div class="row align-items-stretch justify-content-between">
              <div class="col-6 col-xl-3">
                <div class="d-flex flex-column justify-content-between h-100">
                  <div class="d-flex align-items-center justify-content-start pne" (click)="openEvent = true">
                    <button class="btn btn-sm btn-circle ico-plus"></button>
                    <h4 class="ms-2 mb-0">Post New Event</h4>
                  </div>

                  <h1 class="section-title">My events</h1>

                  <p class="mt-4 mb-0 mb-xl-4">{{myEvents[selectedEvent].description}}</p>

                  <div class="d-none d-xl-block pt-4">
                    <p class="btn btn-rounded" (click)="selectedEvent = selectedEvent+1">Next Page</p>
                  </div>
                </div>
              </div>

              <div class="col-6 col-xl-8">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="d-flex flex-column align-items-center justify-content-between h-100">
                      <img class="img-fluid rounded-circle mb-2 mb-xl-4" [src]="myEvents[selectedEvent].image ? myEvents[selectedEvent].image : './../../../assets/images/home/event.png'">

                      <div class="shadow my-xl-4"></div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                      <div class="d-block mt-4 mt-xl-0 pb-xl-4">
                        <h5 class="mb-0"><strong>The Event: <span class="text-red">{{myEvents[selectedEvent].title}}</span></strong>
                        </h5>
                        <h5 class="mb-0"><strong>Date: <span class="text-red">{{myEvents[selectedEvent].date}}</span></strong></h5>
                        <h5 class="mb-xl-4"><strong>Location: <span class="text-red">{{myEvents[selectedEvent].location}}</span></strong></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-xl-none">
              <div class="col-xl-12">
                <div class="text-center mt-4 pt-4">
                  <p class="btn btn-rounded" (click)="selectedEvent = selectedEvent+1">Next Page</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-contact-details">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="d-flex justify-content-center">
            <div class="card rounded-top text-center">
              <div class="card-body bg-dark">
                <img src="./../../../assets/images/union.png">

                <h1>My contact details</h1>

                <p>Email: {{companyService.companyProfile.contact.email}}</p>
                <p>Phone: {{companyService.companyProfile.contact.phone}}</p>

                <div class="d-flex justify-content-center mt-5">
                  <a class="btn btn-rounded" [routerLink]="'/organization-profile'">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Job Modal -->
  <div id="myModal" class="modal fade" role="dialog" [ngClass]="{'openJob': openJob}">
    <div class="overlay"></div>
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="openJob=false">Close</button>
        </div> -->
        <div class="modal-body">
          <div class="top-b d-flex justify-content-between">
            <div class="form-field d-flex">
              <img src="./../../../assets/images/union.png">
              <input [(ngModel)]="jobData.title" placeholder="JOB TITLE">
            </div>
            <p class="close" data-dismiss="modal" (click)="openJob=false">CLOSE</p>
          </div>
          <div class="form-container">
            <div class="meta-form d-flex">
              <div class="jtype ckb d-flex flex-column">
                <p class="titl">Job Type</p>
                <div class="checkboxes d-flex flex-column">
                  <div class="relative">
                    <label class="container check-container">Permanent contract
                      <input name="permanent" id="permanent" type="radio" [value]="'Permanent contract'" [(ngModel)]="jobData.type">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="relative">
                    <label class="container check-container">Fixed-term contract
                      <input name="fixed" id="fixed" type="radio" [value]="'Fixed-term contract'" [(ngModel)]="jobData.type">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="relative">
                    <label class="container check-container">Freelance
                      <input name="freelance" id="freelance" type="radio" [value]="'Freelance'" [(ngModel)]="jobData.type">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="relative">
                    <label class="container check-container">Internship
                      <input name="internship" id="internship" type="radio" [value]="'Internship'" [(ngModel)]="jobData.type">
                      <span class="checkmark"></span>
                    </label>
                  </div>

                </div>
              </div>

              <div class="jtype d-flex flex-column">
                <p class="titl">Country</p>
                <input type="text" [(ngModel)]="jobData.country" placeholder="choose" />
              </div>

              <div class="jtype d-flex flex-column">
                <p class="titl">City</p>
                <input type="text" [(ngModel)]="jobData.city" placeholder="choose" />
              </div>

              <div class="jtype d-flex flex-column">
                <p class="titl">Sector</p>
                <input type="text" [(ngModel)]="jobData.sector" placeholder="choose" />
              </div>

              <div class="jtype d-flex flex-column">
                <p class="titl">Salary</p>
                <input type="text" [(ngModel)]="jobData.salary" placeholder="0$" />
              </div>

            </div>

            <div class="jd d-flex flex-column">
              <p class="titl">Job Description</p>
              <textarea [(ngModel)]="jobData.description" placeholder="Type here...">

              </textarea>
            </div>

            <div class="apply-link d-flex">
              <p class="titl">Apply on the following link:</p>
              <input [(ngModel)]="jobData.applicationLink" />
              <p class="abs-titl">(which redirect to the website with the job offer)</p>
            </div>

            <div class="apply-link d-flex">
              <p class="titl">Apply at the following email adress:</p>
              <input [(ngModel)]="jobData.emailLink" />
              <p class="abs-titl red">(or add your email for...)</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveJob()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="publishJob()">Publish</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Add Event Modal -->
  <div id="myModalEvent" class="modal fade" role="dialog" [ngClass]="{'openJob': openEvent}">
    <div class="overlay"></div>
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CLEAR ALL</h4>
          <div class="d-flex actions">
            <button type="button" class="close" data-dismiss="modal" (click)="openJob=false">SAVE</button>
            <button type="button" class="close" data-dismiss="modal" (click)="openEvent=false">CLOSE</button>
          </div>
        </div>
        <div class="modal-body">
          <div class="top-b d-flex">
            <div class="form-field d-flex">
              <img src="./../../../assets/images/3-lines.png">
            </div>
            <div class="d-flex align-items-center justify-content-start pne">
              <button class="btn btn-sm btn-circle ico-plus"></button>
              <h4 class="ms-2 mb-0">Create new event</h4>
            </div>
          </div>

          <div class="form-container d-flex">
            <div class="left-de">
              <h3>Create an event</h3>
              <p class="postedby">Posted By: {{userService.loggedInUser.email}}</p>
              <img src="">
              <textarea class="tell-us" placeholder="Tell us about your event - Type here... (2-3 sentences)" [(ngModel)]="eventData.body">
              </textarea>
            </div>
            <div class="right-de">
              <div class="upload-box">
                <div class="form-field upload-d">
                  <p class="label">1. <span class="upload" (click)="onClick('event')">{{eventData.photo ? eventData.photo.name : 'Upload a photo'}}</span></p>
                  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display:none;" />
                  <!-- <input [(ngModel)]="myOrganization.orgPic" type="text" id="orgPic" name="orgPic" class="" /> -->
                </div>
                <div class="apply-link d-flex">
                  <p class="titl">2.</p>
                  <input [(ngModel)]="eventData.video" placeholder="Add a video link"/>
                </div>
              </div>

              <div class="meta-f">
                <div class="apply-link d-flex">
                  <p class="titl">The Event: </p>
                  <input [(ngModel)]="eventData.title" placeholder="The title"/>
                </div>
                <div class="apply-link d-flex">
                  <p class="titl">Date: </p>
                  <!-- <input [(ngModel)]="eventData.date" placeholder="choose"/> -->
                  <input [(ngModel)]="eventData.date" placeholder="choose" matInput [matDatepicker]="picker" (click)="picker.open()" class="dpkr" />
                  <mat-datepicker #picker></mat-datepicker>
                  <!-- <p class="act" (click)="picker.open()">choose</p> -->
                </div>
                <div class="apply-link d-flex">
                  <p class="titl">Location:</p>
                  <input [(ngModel)]="eventData.location" placeholder="choose"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveJob()">Save</button> -->
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="publishEvent()">Publish</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Add News Modal -->
  <div id="myModalNews" class="modal fade" role="dialog" [ngClass]="{'openJob': openNews}">
    <div class="overlay"></div>
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">CLEAR ALL</h4>
          <div class="d-flex actions">
            <button type="button" class="close" data-dismiss="modal" (click)="openNews=false">CLOSE</button>
          </div>
        </div>
        <div class="modal-body">
          <div class="top-b">
            <h4 class="title">My Organization’s News</h4>
            <div class="d-flex align-items-center justify-content-between mon-sub">
              <p>Inform The Community of What’s New in your organization</p>
              <div class="form-field d-flex">
                <img src="./../../../assets/images/3-lines.png">
              </div>
            </div>
          </div>

          <div class="form-container d-flex">
            <div class="left-de">
              <div class="d-flex align-items-center justify-content-start pne">
                <button class="btn btn-sm btn-circle ico-plus"></button>
                <h4 class="ms-2 mb-0">Create News</h4>
              </div>

              <div class="meta-f">
                <div class="apply-link d-flex">
                  <p class="titl">Date: </p>
                  <!-- <input [(ngModel)]="eventData.date" placeholder="choose"/> -->
                  <input [(ngModel)]="newsData.date" placeholder="choose" matInput [matDatepicker]="pickerN" (click)="pickerN.open()" class="dpkr" />
                  <mat-datepicker #pickerN></mat-datepicker>
                  <!-- <p class="act" (click)="picker.open()">choose</p> -->
                </div>
                <div class="apply-link d-flex">
                  <p class="titl">Location:</p>
                  <input [(ngModel)]="newsData.location" placeholder="choose"/>
                </div>
              </div>

              <div class="upload-box">
                <div class="form-field upload-d">
                  <p class="label">1. <span class="upload" (click)="onClick('news')">{{newsData.photo ? newsData.photo.name : 'Upload a photo'}}</span></p>
                  <input type="file" #fileUploadN id="fileUploadN" name="fileUploadN" accept="image/*" style="display:none;" />
                  <!-- <input [(ngModel)]="myOrganization.orgPic" type="text" id="orgPic" name="orgPic" class="" /> -->
                </div>
                <div class="apply-link d-flex">
                  <p class="titl">2.</p>
                  <input [(ngModel)]="newsData.video" placeholder="Add a video link"/>
                </div>
              </div>

            </div>
            <div class="right-de">
              <div class="bordered-card">
                <img class="amo-img" src="./../../../assets/images/union.png">
                <input [(ngModel)]="newsData.title" placeholder="Type the title here"/>
                <textarea class="tell-us" placeholder="Type here the description... (max 600 characters)Ex.:
                  The CSS agro-industrial complex was created in 1970. It consists of:

                  a cane crushing entity;
                  a refinery;
                  a distillery for the production of ethanol;
                  and an energy production unit comprising a bagasse boiler producing 150 tons/hour of steam and a 25 megawatt turbo-alternator which has made it possible to obtain from the clean development mechanism (CDM) in Bonn, 40,000 tons of carbon credits.

                  CSS is one of the most successful sweets in the world. It owes this to its advanced technology, its high quality human resources and an adequate and peaceful working environment. The company offers career prospects for almost all trades. It is autonomous and hardly needs external services to operate, hence the interest in diversified profiles allowing it to be aligned with current and future technologies."
                  [(ngModel)]="newsData.body">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveJob()">Save</button> -->
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="publishNews()">Save</button>
        </div>
      </div>

    </div>
  </div>
</div>
