<ng-container *ngIf="!verificationLinkSent">
  <div class="mt-4" id="forgot-password">
    <div class="card rounded-top text-center">
      <div class="card-body bordered">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <div class="bordered-form">
            <img src="../../../assets/images/union.png">

            <ng-container >
              <h3 class="pt-5">Forgot password</h3>

              <div class="form-group">
                <input type="text" placeholder="Email address" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && forgotForm.get('email').invalid" class="invalid-feedback">
                  <div *ngIf="forgotForm.get('email').hasError('required')">Email is required</div>
                  <div *ngIf="forgotForm.get('email').hasError('email')">Email must be a valid email address</div>
                </div>
              </div>      
            </ng-container>
           
            <ng-container >
              <h3 class="text-start">{{resMessage?.message}}</h3>
            </ng-container>
          </div>
          <div class="d-flex flex-column justify-content-center mt-5">
            <p class="text-center">Didn’t get the password reset link?</p>

            <button class="btn btn-rounded">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Get the link
            </button>
            <!-- <button class="btn btn-rounded">
              Resend link
            </button> -->                                                                  
          </div>
        </form>
      </div>
    </div>
  </div>

</ng-container>
<!--
<ng-container *ngIf="verificationLinkSent">
    <div class="mt-4">
        <div class="card rounded-top text-center">
            <div class="card-body bordered">
                <img src="../../../assets/images/union.png">

                <h3>Forgot password</h3>

                <p class="text-start text-colored">klincik7@gmail.com</p>
                <p class="text-start">The link to reset your password has been sent to your email address. Please check your email to reset your password.</p>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center mt-5">
        <p class="text-center">Didn't receive the link?</p>

        <a class="btn btn-rounded" href="#">Sign in</a>
    </div>
</ng-container> -->
