.section-notifications {
  margin-top: 100px;

  p {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.656px;
    margin: 16px auto 28px;
  }
}

.section-announcements {
  h1.section-title {
    margin-bottom: 25px;
  }
}
